@import '../base/variables';
@import '../base/mixins';
@import '../base/components';

.account-form {
    background-color: $white;
    position: fixed;
    top: 0;
    right: -105%;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2rem;
    z-index: 1200;
    padding: 2rem;
    text-align: center;
    text-transform: capitalize;

    &.active {
        right: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,0.8);
    }

    #close-form {
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
        font-size: 4rem;
        cursor: pointer;
        color: $black;

        &:hover {
            transform: rotate(90deg);
        }
    }

    form {
        border: $border;
        padding: 2rem;
        display: none;

        &.active {
            display: block;
        }

        h3 {
            @include titleText(2rem);
            padding-bottom: .5rem;
            text-transform: uppercase;
        }

        .box {
            width: 100%;
            padding: 1.2rem 1.4rem;
            border: $border;
            font-size: 1.5rem;
            margin: .7rem 0;
        }

        .flex {
            padding-top: 1rem;
            display: flex;
            align-items: center;
            gap: .5rem;

            label {
                font-size: 1.5rem;
                color: $light-color;
                cursor: pointer;
            }

            a {
                font-size: 1.5rem;
                color: $light-color;
                margin-left: auto;

                &:hover {
                    text-decoration: underline;
                    color: $green;
                }
            }
        }

        .btn {
            width: 100%;
        }
    }

    .buttons .btn {
        margin-inline: .5rem;

        &.active {
            background-color: $green;
            color: $white;
        }
    }
}